$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$desktop-breakpoint: 1200px;

$tablet: 'tablet';
$laptop: 'laptop';
$desktop: 'desktop';

@mixin breakpoint($breakpoint) {
  @if $breakpoint == "tablet" {
    @media (min-width: $tablet-breakpoint) {
      @content;
    }
  } @else if $breakpoint == "laptop" {
    @media (min-width: $laptop-breakpoint) {
      @content;
    }
  } @else if $breakpoint == "desktop" {
    @media (min-width: $desktop-breakpoint) {
      @content;
    }
  }
}

@mixin print() {
  @media print {
    @content;
  }
}
